!= renderScriptsTags(myscripts)
script
	$(document).ready(function () {
		$('#myModal').on('show', function (event) {
			var test = $(this).data('modal').options.testid
			var user = $(this).data('modal').options.userid
			$('.confirmdelete').prop('action','/user/' + user + '/testdelete/' + test)
			$('.hiddentest').prop('value', test)
		});
		$('#modal-from-dom').bind('show', function() {
			var id = $(this).data('id'),
			removeBtn = $(this).find('.danger'),
			href = removeBtn.attr('href');
			removeBtn.attr('href', href.replace(/ref=\\d*/, '&ref=' + id));
		})
		$('.confirm-delete').click(function(e) {
			e.preventDefault();
			var id = $(this).data('id');
			$('#modal-from-dom').data('id', id).modal('show');
		});
		});
