- myscripts.push('wymeditor/jquery.wymeditor.min.js')
!= renderScriptsTags(myscripts)
script
    $(function () {
      jQuery(function() {
      jQuery('.wymeditor').wymeditor({
        containersHtml: "",
        classesHtml: "",
        logoHtml: "",
        toolsItems:[
          {'name': 'Bold', 'title': 'Strong', 'css': 'wym_tools_strong'},
          {'name': 'Italic', 'title': 'Emphasis', 'css': 'wym_tools_emphasis'},
          {'name': 'Superscript', 'title': 'Superscript', 'css': 'wym_tools_superscript'},
          {'name': 'Subscript', 'title': 'Subscript', 'css': 'wym_tools_subscript'},
          {'name': 'InsertOrderedList', 'title': 'Ordered_List', 'css': 'wym_tools_ordered_list'},
          {'name': 'InsertUnorderedList', 'title': 'Unordered_List', 'css': 'wym_tools_unordered_list'},
        ],
        postInit: function(wym) {
         $(wym._iframe).css('height', '150px');
        }
      });
      });
      });
