!= renderScriptsTags(myscripts)
// script(src='/socket.io/socket.io.js')
script(src='/javascripts/jquery.jqplot.min.js')
script(src='/dist/plugins/jqplot.canvasTextRenderer.min.js')
script(src='/dist/plugins/jqplot.canvasAxisLabelRenderer.min.js')

script
	$(document).ready(function () {	
		$('#testout').text(Correct);
		// var socket = io.connect();
		var testID = $('#testID').val();
			$.jqplot('TRbyQuestion',  [Correct,Incorrect] ,
			{title:'Results by Question',
			axes:{yaxis:{label:'Result',ticks: [-0.5,0,1,2,2.5],labelRenderer: $.jqplot.CanvasAxisLabelRenderer},
				xaxis:{label:'Question'}
				},
			series:[{color:'#5FAB78',label: 'Correct'},
			{label: 'Incorrect'}],
			legend: {show: true, location: 'se'}
			});


		// socket.emit('BuildStats_req',{tesid: testID});
		// socket.on("BuildStats_res", function(stats){
		// 	var somedata = stats;
		// 	var Correct = [];
		// 	var Incorrect = [];
		// 	for(i = 0; i < somedata.length;i++){
		// 		Correct.push([i,somedata[i].CorrectlyAnswered])// CorrectlyAnswered is within the object stats
		// 		Incorrect.push([i,somedata[i].IncorrectlyAnswered])
		// 	}
		// 	$.jqplot('TRbyQuestion',  [Correct, Incorrect] ,
		// 	{title:'Results by Question',
		// 	axes:{yaxis:{label:'Result',ticks: [-0.5,0,1,2,2.5]},
		// 		xaxis:{label:'Question'}
		// 		},
		// 	series:[{color:'#5FAB78',label: 'Correct'},
		// 	{label: 'Incorrect'}],
		// 	legend: {show: true, location: 'se'}
		// 	});
		// }) //- end of socket.on



		});//end of docment ready

