.navbar.navbar-fixed-top
    .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Company
          .nav-collapse
            ul.nav
              li
                a(href='/') Home
              li
                a(href='/about') About
              li
                a(href='/Login') Login
              li 
                a(href='/userlist') UserList
              li 
                a(href='/loginfailed') LoginFailed
              li
                a(href='/Register') Register
              li
                a(href='/uploadtest') Upload
              li.active
                a(href='/logout') Logout