if(DynsessionLoggedIn != true)
  !=partial('partials/_TopBar')
else
  !=partial('partials/_TopBarLoggedIn')
.container
  .row
    .span4
      h2 Add Standard
      //- form.well(action='/addstandard', method='post')
      //-   input.span3(type='text', name='Grade' ,placeholder = 'Grade')
      //-   //- input.span3(type='text', name='Subject' ,placeholder = 'Subject')
      //-   input.span3(type='text', name='Topic' ,placeholder = 'Topic')
      //-   input.span3(type='text', name='Abbreviation' ,placeholder = 'Abbreviation')
      //-   input.span3(type='text', name='Title', placeholder = 'title')
      //-   textarea#textarea.input-xlarge(type='text', name='Description', rows='3',placeholder = 'Description')
      //-   //- input.span3(type='text', name='Description' ,placeholder = 'Description')
      //-   input.span3(type='text', name='Snumber' ,placeholder = 'number')
      //-   button.btn.btn(type='submit') Submit


      form.well(action='/CAB', method='post')  
        button.btn.btn(type='submit') Submit


