extends ../layout



block content


  include ../partials/_TopBar




  .container
    .h1 College Admission office view

    table.table.table-bordered
      thead
        tr
          th Anon Student ID
          th Match
          th Interest
          th Completed
          th Field
          th Short List
          th Communicate
      tbody
        tr.success
          td 26418216
          td 75%
          td 85%
          td 100%
          td Engineering
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate
        tr.warning
          td DAD74672
          td 87%
          td 15%
          td 0%
          td Engineering
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate
        tr.success
          td F60A01C4
          td 75%
          td 85%
          td 50%
          td Engineering
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate
        tr.info
          td 8A051114
          td 45%
          td 56%
          td 90%
          td Engineering
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate



    br
    br
    br
    br

    .h1 High School counselor view

    table.table.table-bordered
      thead
        tr
          th Student Name
          th Basic Info
          th Essays
          th Letters of Rec
          th Finances
          th Major
          th Colleges
          th Alert
      tbody
        tr.success
          td Sally Mclil
          td 100%
          td 85%
          td 100%
          td 200$
          td Engineering
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate


        tr.error
          td Hector Qim
          td 0%
          td 0%
          td 0%
          td 0$
          td Undeclared
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate
        tr.success
          td Adrien bolt
          td 75%
          td 85%
          td 50%
          td 120$
          td Chemistry
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate
        tr.info
          td Alan Tu
          td 45%
          td 56%
          td 90%
          td 250$
          td Litterature
          td 
            button.btn.btn-info Short List
          td 
            button.btn.btn-info Communicate





