!=partial('partials/_TopBarLoggedIn')
.container-fluid
  .row-fluid
    .span4
      #chartdiv(style='height: 300px; width: 400px;')
      br
      #chartdivsine(style='height: 300px; width: 400px;')
      br
      br
      p#sinedata
      br
      br
      #chartdivtest(style='height: 300px; width: 400px;')
      br
      br
      p#datareceived
      br
      br
      p#confirmreceived