!=partial('partials/_TopBarLoggedIn')
.container
  .row
    .span6
      h1 School Administrators
      br
      #SchoolAdmin-TeacherStandards(style='height: 300px; width: 400px;')
      br
      #SchoolAdmin-Studentspassing(style='height: 300px; width: 400px;')
      br
      #SchoolAdmin-StudentStandardExsosure(style='height: 300px; width: 400px;')
      br
      #SchoolAdmin-StandardSpecific(style='height: 300px; width: 400px;')
      br
    .span6
      h1 School Districts
      br
      #SchoolDistricts-SchoolStandards(style='height: 300px; width: 400px;')
      br
      #SchoolDistricts-Schoolspassing(style='height: 300px; width: 400px;')
      br
      #SchoolDistricts-SchoolStandardExsosure(style='height: 300px; width: 400px;')
      br



- myscripts.push('jqplot/jquery.jqplot.min.js')
- myscripts.push('jqplot/plugins/jqplot.canvasTextRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.barRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.categoryAxisRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.pointLabels.min.js')
- myscripts.push('testscripts/jqplot_tests.js')
!= renderScriptsTags(myscripts)