!=partial('partials/_TopBarLoggedIn')
.container
  .row
    .span6
      h1 Teachers by Standard
      br
      #Teacher-Standard(style='height: 300px; width: 400px;')
      br
      #Teacher-Standardbypercentage(style='height: 300px; width: 400px;')
    .span6
      h1 Teachers by Test
      br
      #Teacher-TestStandard(style='height: 300px; width: 400px;')
      br
      #Teacher-TestStandardSpecific(style='height: 300px; width: 400px;')
      br
      #Teacher-TestScores(style='height: 300px; width: 400px;')
      br
      #Teacher-TestPercentages(style='height: 300px; width: 400px;')

- myscripts.push('jqplot/jquery.jqplot.min.js')
- myscripts.push('jqplot/plugins/jqplot.canvasTextRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.barRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.categoryAxisRenderer.min.js')
- myscripts.push('jqplot/plugins/jqplot.pointLabels.min.js')
- myscripts.push('testscripts/jqplot_tests_teachers2.js')
!= renderScriptsTags(myscripts)