!=partial('partials/_TopBarLoggedIn')
  .container-fluid
    .row-fluid
      .span2
        include partials/_SideBar
      .span8
        h1 This is the user Overview page
          p #{title}