

extends layout



block content
  include partials/_TopBar
  .container
    h1 Moving forward
    p
      | Continuing through my gradu
    p
      a.btn.btn-primary.btn-large Learn more »
  


    hr
//- != renderScriptsTags(myscripts)