if(DynsessionLoggedIn != true)
  !=partial('partials/_TopBar')
else
  !=partial('partials/_TopBarLoggedIn')
.container
  .hero-unit
    h1 Correct and Analyze Tests
    p Tired of grading simple tests? Want detailed information on the results?
    p
      a.btn.btn-primary.btn-large(href='/register') Create Account
  .row-fluid
    .span12
      h1.well(align='right') Create, Find, and Customize Tests          
  .row-fluid
    .span6
      h3 What Happens after you create test?
      br
      ul
        li Randomized Questions
        li Automatic Grading
        li Personalize tests
        li Accreditation statistics
    .span4
      img(src = "/180150.png")
   br
   br
   br   
  .row-fluid
    .span12
      h1.well(align='left') Single Test    ---> Multiple version 
  .row-fluid
    .span6
      img(src = "/180150.png")
      br
      br
      br  
    .span4
      h3 Remove cheating from teseting
      br
      ul
        li Maintaint information of performance
        li Manage school performance across teachers and subjects
        li Create year end reports statistics, Data is given to you to interpret 
        li Accreditation statistics 
  .row-fluid
    .span12
      h1.well(align='right') Observe Statistics on Results     
  .row-fluid
    .span6
      h3 Raise the quality of your teaching by understanding what your students think
      br
      ul
        li See what was understood by your students!      
        li See correct answer statistics
        li See wrong answer statistics
        li See question response distribution
      br
      br
      br  
    .span4
      img(src = "/180150.png")
      br
      br
      br  


  hr
  footer
    p © Company 2012
//
   /container 
