if(DynsessionLoggedIn != true)
  !=partial('partials/_TopBar')
else
  !=partial('partials/_TopBarLoggedIn')
.container
  .hero-unit
    h1 Correct and Analyze Tests
    p Tired of grading simple tests? Want detailed information on the results?
    p
      a.btn.btn-primary.btn-large(href='/register') Create Account
  .row
    .span12
      h1.well(align='left') For Teachers: 
  .row
    .span6
      h3 Raise the quality of your teaching 
      br
      ol
        li Automatic grading and scoring
        li Statistics by question and student
        li View what the students have and have not understood
        li See question response distribution
        li Randomize question and selection order
        li Track performance of your curriculum
        li View how well individual students perform by subject standards
        li Export what you learn and make it accessible to others 
    .span6
      #myCarousel.carousel.slide
        .carousel-inner
          .active.item 
            img(src = "images/im4.png")
          .item
            img(src = "images/im3.png")
          .item
            img(src = "images/im5.png")
          .item
            img(src = "images/im6.png")
          .item
            img(src = "images/im7.png")
        a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
        a.carousel-control.right(href='#myCarousel', data-slide='next') ›
   br
   br
   br   
  .row
    .span12
      h1.well(align='left') For School Administrators:
  .row
    .span6
      #myCarousel2.carousel.slide
        .carousel-inner
          .active.item 
            img(src = "images/im8.png")
          .item
            img(src = "images/im6.png")
        a.carousel-control.left(href='#myCarousel2', data-slide='prev') ‹
        a.carousel-control.right(href='#myCarousel2', data-slide='next') ›
      br
      br
      br  
    .span5
      h3  Data to improve school performance at a weekly level
      br
      ol
        li Yearly state practice test information at a weekly level
        li Aggregate data accross subjects to observe trends
        li Manage school performance across teachers and subjects
        li Create year end statistic reports by (Standard, Teacher, Student etc.)
        li Prioritize resources to help poorly perofming teachers
  .row
    .span12
      h1.well(align='left') For School Districts:
  .row
    .span6
      h3 Data for grants made accessible
      br
      ol
        li Classify schools based on performance metrics      
        li Easily aggregate data accross your district 
        li Monitor school performance at a weekly level
        li Prioritize resources to assist poorly performing schools
      br
      br
      br  
    .span6
      img(src = "images/180150.png")
      br
      br
      br  


  hr












!= renderScriptsTags(myscripts)
script
  $(document).ready(function () {
    $('#myCarousel').carousel({
      interval:6000
    });
    $('#myCarousel2').carousel({
      interval:6000
    });

    
  });
  






