extends layout



block content

  include partials/_TopBar
  .container
    .row
      .span4
        h2 Sign In
        form.well(action='/login', method='post')
          input.span3(type='text', name='email', placeholder = 'Email')
          input.span3(type='password', name='password' ,placeholder = 'Password')
          button.btn.btn(type='submit') Submit
         - if(message != '')
           .alert.alert-error.alert-block
             a.close(data-dismiss='alert', href='#') ×
             h4.alert-heading Error!
             p #{message}



append footer