!=partial('partials/_TopBarLoggedIn')
	.container-fluid
		.row-fluid
			.span2
				include partials/_SideBar
			.span8
				h1 Create class
				.alert.alert-warning.alert-block
					h4.alert-heading Warning!
					p Currently you can only have 1 class. Changing these values between test will cause problems.
				form.form-horizontal.well(method='post', action='')
					fieldset
						.control-group
							label.control-label Class Name
							.controls
								input.span3(type='text', name='ClassName', placeholder = 'Class Name') 
						.control-group
							label.control-label Grade
							.controls
								input.span3(type='text', name='ClassGrade' ,placeholder = 'Class Grade')
						.control-group
							label.control-label Subject
							.controls
								input.span3(type='text', name='ClassSubject', placeholder = 'Class Subject')
						.control-group
							label.control-label Number of Students
							.controls
								input.span3(type='text', name='NumOfStudents' ,placeholder = 'Number of Students')
						button.btn.btn-primary(type='submit') Create Class
				
				- if(typeof(valerrors) != 'undefined')
					each err in valerrors
						each val,key in err
							- if(key == 'msg')
								.alert.alert-error.alert-block
									a.close(data-dismiss='alert', href='#') ×
									h4.alert-heading Error!
									p #{val}
				
				

			.span2 
				h3 Placeholder Data
				p #{title}



