!=partial('partials/_TopBarLoggedIn')
  .container
    .row
      .span2
        include partials/_SideBar
      .span8
        h1 This is the user Statistics page
          p #{title}
          if(typeof(testid) != 'undefined')
            input#testID(type='hidden', name='testID', value='#{testid}')
          if(typeof(Statdata) != 'undefined')
            p  statdatae exists
            != "<script type='text/javascript'>"
            != "var Correct = [];"
            != "var Incorrect = [];"
            each question in Statdata
              != "Correct.push(" + question.CorrectlyAnswered +");"
              != "Incorrect.push(" + question.IncorrectlyAnswered +");"
            != "</script>"
        .row
          .span4
            #TRbyQuestion(style='height: 300px; width: 400px;')
            #TRbyQuestion2(style='height: 300px; width: 400px;')
          .span4
            h3.center Question with Percent Correct
            dl.dl-horizontal
              if(typeof(QuestionText) != 'undefined')
                each question in QuestionText
                  dt 100%
                  dd #{question.Questionhtml}
                
        
        