!=partial('partials/_TopBarLoggedIn')
  .container-fluid
    .row-fluid
      .span2
        include partials/_SideBar
      .span8
        h1 This is the user Statistics page
          p #{title}
        #chartdivtest(style='height: 300px; width: 400px;')
        #chart1(style='height: 300px; width: 400px;')
        