!=partial('partials/_TopBarLoggedIn')
  .container-fluid
    .row-fluid
      .span2
        include partials/_SideBar
      .span8
        h1 This is the user index page
          p #{username}
          .alert.alert-success.alert-block
            a.close(data-dismiss='alert', href='#') ×
            h4.alert-heading Welcome! 
            p Setup you class if you have not! 
            a.btn.btn-success(href='/user/#{userID}/setupclass') Setup
      .span2 
        h3 Placeholder Data
        p #{title}
        p #{DynsessionLoggedIn}