!=partial('partials/_TopBarLoggedIn')
  .container-fluid
    .row-fluid
      .span2
        include partials/_SideBar
      .span8
        h1 This is the user index page
          p #{username}
          .alert.alert-error.alert-block
            a.close(data-dismiss='alert', href='#') ×
            h4.alert-heading Complete Setup
              p Complete your setup by creating your class.
              a.btn.btn-danger(href='#') Setup