extends layout



block content
  include partials/_TopBarLoggedIn
  .container
    .row
      .span2
        include partials/_SideBar
      .span8
        h1 Page is under Construction.
        h2 Do you have a suggestion? 

//- != renderScriptsTags(myscripts)