!=partial('partials/_TopBarLoggedIn')
  .container-fluid
    .row-fluid
      .span2
        include partials/_SideBar
      .span8
        h1 This is the user index page
          p #{username}
        alert.alert-block.allert-error.fade.in 
          button.close(data-dismiss='alert') X
            h4.alert-heading Complete Setup
            p Complete your setup by creating your class.
              a.btn.bnt-daner(href='#') Setup 
