!=partial('partials/_TopBarLoggedIn')
	.container-fluid
		.row-fluid
			.span2
				include partials/_SideBar
			.span8
				h1 This page will return all existing tests 
				p #{title}
			.span2 
				h3 Mearly test content
				p #{title}



