.navbar.navbar-fixed-top
    .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') Company
          .nav-collapse
            ul.nav
              li
                a(href='/about') About
              li
                a(href='/blog') Blog
            ul.nav.pull-right
              li.divider-vertical
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown') Username
                  b.caret
                ul.dropdown-menu
                  li
                    a(href='/settings') Settings
                  li.divider
                  li
                    a(href='logout') Logout

  .container
    .row
      .span8
        h1 Image will be seen below
        form.form-horizontal
          fieldset
          legend Legend text
            .control-group.error
              label.control-label(for='input01') Text input
              .controls
                input#input01.input-xlarge(type='text')
                p.help-block Supporting help text
        .alert.alert-error.alert-block
          a.close(data-dismiss='alert', href='#') ×
          h4.alert-heading Warning!
          p Best check yo self, you're not...


  .navbar
      .navbar-inner
          .container
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/') Company
            .nav-collapse
              ul.nav
                li
                  a(href='/about') About
                li
                  a(href='/blog') Blog
            ul.nav.pull-right
              li.divider-vertical
                li
                  a(href='/login') login






        

